[submodule "HomeController"]
	path = HomeController
	url = https://github.com/SmejkalJakub/HomeController.git
[submodule "MQTT-Simulator"]
	path = MQTT-Simulator
	url = https://github.com/SmejkalJakub/MQTT-Simulator.git
[submodule "node-red-contrib-hardwario-power-module"]
	path = node-red-contrib-hardwario-power-module
	url = https://github.com/hardwario/node-red-contrib-hardwario-power-module.git
